.heading {
    font-size: 23px;
    width: 100%;
    margin: 0px;
}

.note {
    font-size: 15px;
    color: black;
}

body {
    background-size: cover;
}

.play_button {
    width: 130px;
    font-size: 23px;
}

.pause_button {
    display: none;
    width: 130px;
    font-size: 23px;
}

canvas {
    border: 5px dotted goldenrod;
    border-radius: 15px;
    box-shadow: 3px 3px 3px gray;
}

 
#song_name {
    font-size: 17px;
    border-radius: 25px;
}